{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

	<div class="row col-md-8 col-md-offset-2">

		<h1>{% trans "Sign In" %}</h1>
		
		{% get_providers as socialaccount_providers %}
		
		{% if socialaccount_providers %}
		
		<div class="socialaccount_ballot">
		
		  <div class="socialaccount_providers">
			{% include "socialaccount/snippets/provider_list.html" with process="login" %}
		 </div>
		
		  <div class="login-or col-sm-offset-2" style="margin: 20px 0 20px 0;">We can not read from (except: email, first name & last name) or write to facebook, this is a "one click" login service they provide for you, not us.  Or login with us below.</div>
		
		</div>
		
		{% include "socialaccount/snippets/login_extra.html" %}
		
		{% else %}
		<p>{% blocktrans %}If you have not created an account yet, then please
		<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
		{% endif %}
<div class="row">
	<div class="col-sm-7 col-sm-offset-2"> 
	<form class="login" method="POST" action="{% url 'account_login' %}">
	  {% csrf_token %}
	 {{ form | crispy }}
	 {% if redirect_field_value %}
	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	  {% endif %}
		</div>
</div>

		  <div class="col-sm-8 col-sm-offset-8">
		  	<button class="primaryAction" type="submit">{% trans "Sign In" %}</button><br /><br />
		  </div>
			<div class="col-sm-offset-6">
		  		<a href="{% url 'account_signup' %}">Or if you don't have an account with us, Sign Up!</a>
		  		 <a class="button secondaryAction" href="{% url 'account_reset_password' %}"><h3>Forgot Password?</h3>
				 </a>

		 	</div>
		 
		</form>

	</div>

{% endblock %}
