
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 699px) and (min-width: 520px) {
  #nam {
    font-size: 10px !important;
  }
}

#nam {
margin-left: 85px;
    margin-top: -87px;
    font-size: 30px;
  }
.hr {
  margin-right: -53%;
    margin-left: -12px;
    margin-top: 78px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(9, 9, 9, 0.36);
}
.hrs {
  margin-right: -53%;
    margin-left: -12px;
    margin-top: 45px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(9, 9, 9, 0.36);
}
#ic {
margin-left: 320px;
margin-top: -229px;
}
#icontract {
     width: 52px;
    margin-left: 461px;
    margin-top: -173px;

}
#contract {
  margin-left: 434px;
    margin-top: -57px;
    font-size: 19px;
}
#ifurnish {
   width: 55px;
    margin-left: 610px;
    margin-top: -173px;

}
#furnish {
      margin-left: 585px;
    margin-top: -57px;
    font-size: 19px;
}
#available {
    margin-right: -400px;
    float: right;
    font-size: 50px;
    margin-top: -88px;
}
.adeets {
  margin-top: -120px;
  text-align: left;
  font-size: 20px;
}

.deets {
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
}

#price {
    width: 100%;
    font-size: 115px;
    text-align: left;
    margin-top: -30px;
  }
#address {
     text-align: left;
    margin-left: 50%;
    margin-top: -15.34%;
    font-size: 60px;

}
#room {
      margin-top: -85px;
    margin-left: 304px;
    font-size: 19px;
}
#bullet {
  font-size: 20px;
}
#descrip {
  margin-top: 60px;
}
.row {
  margin-right:-22px;
}

.create {
  float:right;
  margin-right: 58px;
}

#filters {
  width:199px;
}

.col-xs-2 {
  width: 15.666667%;
}
.sidebars {
  margin-top: 60px;
  margin-left: 250px;
  width: 100%;
  height: 100%;
  position: fixed;
}

#map {
    margin-right: 25%;
    /*margin-left: 14%;*/
    margin-top: 38px;
    height: 75%;
  
}

.controls {
 margin-top: 10px;
 border: 1px solid transparent;
 border-radius: 2px 0 0 2px;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 height: 32px;
 outline: none;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
 background-color: #fff;
 font-family: Roboto;
 font-size: 15px;
 font-weight: 300;
 margin-left: 12px;
 padding: 0 11px 0 13px;
 text-overflow: ellipsis;
 width: 300px;
}

#pac-input:focus {
 border-color: #4d90fe ;
}

.pac-container {
 font-family: Roboto;
}

#type-selector {
 color: #fff;
 background-color: #4d90fe ;
 padding: 5px 11px 0px 11px;
}

#type-selector label {
 font-family: Roboto;
 font-size: 13px;
 font-weight: 300;
}

 #target {
  width: 345px;
}

.top {
    z-index: 10;
    position: fixed;
    background-color: red;
    height: 100px;
    width: 100%;
    /*margin-top: -98px;*/
}

.sidebar {
    margin-top: 0%;
   
  /*  border-right: #d1d0d0 1px solid;*/
    width: 200px;
    height: 900px;
    float: left;
}
#search {
    text-align: left;
    margin-left: 23px;
    margin-top: 6%;
    margin-bottom: -27px;
}
ul {
  margin-top: 54px;
}

#title {
  font-size: 43px;
  color: white;
  padding: 14px;
  font-family: 'Oswald',Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-top: 0px;
}

.first {
    margin: 14%;
    z-index: 1;
    position: relative;
    margin-bottom: -5.1%;
    height: 40px;
    width: 66.99%;
    /* margin-right: 19%; */
    margin-left: 14.02%;
    margin-top: 2%;
}

.map {
    position: absolute;
    height: 38px;
    background: #E9E9E9;
    border: rgba(0, 0, 0, 0.48) 1px solid;
    border-bottom: rgba(255, 255, 255, 0) 1px solid;
    border-radius: 7px 7px 2px 2px;
}

.list {
      position: absolute;
    height: 38px;
    background: #E9E9E9;
    right: 0;
    border: rgba(0, 0, 0, 0.48) 1px solid;
    border-bottom: rgba(255, 255, 255, 0) 1px solid;
    border-radius: 7px 7px 2px 2px;
}
p {
  font-family: 'Oswald',Sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-top: 0px;
    margin: 0 0 10px;
    color: #343131;
    font-size: 29px;
    text-align: center;
}
#listview {
    width: 100%;
    height: 90%;
    margin-top: 38px;
/*    margin-left: 14%;
    
    margin-bottom: -10%;
    position: absolute;*/
    /*z-index: -1;*/
  }

.doo {
  margin-left: 0px;
  margin-right: 0px;

}
.do {
  height: 600px;
  border:1px solid;
}
.house {
    height: 7%;
    margin-top: 1%;

}
.apt {
      height: 7%;
    margin-top: 1%;
}
.icontitle {
  margin-top: -7%;
}

.complex {
  padding-left: 5%;
  font-size: 2em;

}

.listing {
/*
  padding-left: 8%;
  font-size: 1.2em;
*/
  /*for the jquery*/
  display: none; 

}

.address {
  padding-left: 8%;
  font-size: .7em;
}

.houseListing {
  padding-left: 8%;
  font-size: 1.2em;

}

.listTitle {
  font-family: 'Oswald',Sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #343131;
  font-size: 2em;
  text-align: center;
  margin-top:10px;
}

.border {
  border: 1px solid;
  height:650px;
}

.bottomBorder {
  border-bottom: 2px solid;
  border-color: red;
}

.spacer  {
    width: 100%;
    height: 105px;
}

.hidden {
  display:none;
}













