{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">

	<title>Places Searchbox</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


	<link rel="stylesheet" type="text/css" href=" {% static 'css/base.css' %} ">

</head>

<body>
<div class="container-fluid">
	<div class="row clearfix">
		<div class="top">
			<h2 id="title">Provo Housing Database</h2>
		</div>
		<div class="spacer"></div>


	</div>

	



			
		{% block mainblock %}
		
		
		{% endblock mainblock %}


	</div>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
</div>
</body>

</html>