{% load staticfiles %}
<!DOCTYPE html>
<html>
 <head>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">

   <title>Places Searchbox</title>

	<link rel="stylesheet" type="text/css" href=" {% static 'css/base.css' %} ">

 </head>

 <body>

   <input id="pac-input" class="controls" type="text" placeholder="Search Box">
   <div id="map"></div>




   <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaKLjivuDKpR4yNtlz53u5B68-xq02VVU&libraries=places&callback=initAutocomplete"
        async defer></script>
 

 </body>
</html>